<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<video autoplay muted loop id="background-video">
  <source src="/views/auth/myvideo/7165790-uhd_3840_2160_24fps.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<body>
    <a href="/">Back to the welcome page</a>
    <h1>this is going to be my form page</h1>
    <form action="/snowboard" method="POST">
        <input type="text" name="name" placeholder="Snowboard Name" required>
        <input type="text" name="shape" placeholder="Shape" required>
        <input type="text" name="profile" placeholder="Profile" required>
        <input type="text" name="abilityLevel" placeholder="Ability Level" required>
        <textarea name="review" placeholder="Review" required></textarea>
        <button type="submit">Submit</button>
      </form>
      

        </form>
</body>
</html>